|===
|Relation|Description|Docs

{{#links}}
|{{#tableCellContent}}`+{{rel}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}
    {{#docs}}link:{{.}}[Link]{{/docs}}
    {{^docs}}None{{/docs}}
{{/tableCellContent}}
{{/links}}
|===
